<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.css"
    rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
 <div class="card card-body"  style="width: 18rem; display: block; margin: auto; margin-top: 14rem;">
    <form action="" method="POST">
        {% csrf_token %}
        <!-- otp input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Enter your email</label>
          <input type="email" name='email' id="form2Example2" class="form-control" />
        </div>
        
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">send link</button>
      </form>
      <p>already have a password?<a href="{% url 'login' %}">login now!!</a></p>
 </div></div>
</body>
</html>