{% extends 'customer/index.html' %}
{% load static %}
{% block body %}
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="{% url 'wishlist' %}"><span class="icon_heart_alt"></span>
            <div class="tip">{{ wishlist_count }}</div>
            </a></li>
        <li><a href="{% url 'cart' %}"><span class="icon_bag_alt"></span>
                <div class="tip">{{ cart_count }}</div>
            </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="{% url 'home' %}"><img style="width: 12rem;" src="{% static 'admin\img\brand\senora.png' %}" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    {% if user is not None %}
    <div class="offcanvas__auth">
        <a href="{% url 'user_dashboard' %}" style="font-weight: 600;">{{ user.username }}</a>
        <a href="{% url 'logout' %}" style="font-weight: 600;">Logout</a>
    </div>
    {% else %}
    <div class="offcanvas__auth">
        <a href="{% url 'login' %}" style="font-weight: 600;">Login</a>
        <a href="{% url 'register' %}" style="font-weight: 600;">Register</a>
    </div>
    {% endif %}
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'home' %}"><img style="width: 12rem;" src="{% static 'admin\img\brand\senora.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'products' %}">Shop</a></li>
                        <li>
                            
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-3">
                <div class="header__right">
                    {% if user.id is not None%}
                    <div class="header__right__auth">
                        <a href="{% url 'user_dashboard' %}" style="font-weight: 600;">{{ user.username }}</a>
                        <a href="{% url 'logout' %}" style="font-weight: 600;">Logout</a>
                    </div>
                    {% else %}
                    <div class="header__right__auth">
                        <a href="{% url 'login' %}" style="font-weight: 600;">Login</a>
                        <a href="{% url 'register' %}" style="font-weight: 600;">Register</a>
                    </div>
                    {% endif %}
                    <ul class="header__right__widget">
                        <li><a href="{% url 'wishlist' %}"><span class="icon_heart_alt"></span>
                            <div class="tip">{{ wishlist_count }}</div>
                            </a></li>
                        <li><a href="{% url 'cart' %}"><span class="icon_bag_alt"></span>
                                <div class="tip">{{ cart_count }}</div>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg" data-setbg="{% static 'customer/img/categories/category-1.jpg' %}">
                    <div class="categories__text">
                        <h1>Women’s fashion</h1>
                        <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                            edolore magna aliquapendisse ultrices gravida.</p>
                        <a href="{% url 'products' %}">Shop now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    {% for category in links %}
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="{{category.cat_image.url}}">
                            <div class="categories__text">
                                <h4>{{ category.category_name }}</h4>
                                <a href="{{category.get_url}}">Shop now</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>New product</h4>
                </div>
            </div>
        </div>
        <div class="row property__gallery">
            {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{{ product.thumbnail_image_1.url }}">
                        <ul class="product__hover">
                            <li><a href="{{ product.image.url }}" class="image-popup"><span
                                        class="arrow_expand"></span></a></li>
                            <li><a href="{% url 'wishlist' %}"><span class="icon_heart_alt"></span></a></li>
                           
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="">{{ product.product_name }}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">₹ {{ product.price }}/-</div>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
</section>
<!-- Product Section End -->

<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="{% static 'customer/img/banner/banner-1.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>senora</h1>
                            <a href="{% url 'products' %}">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>senora</h1>
                            <a href="{% url 'products' %}">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>senora</h1>
                            <a href="{% url 'products' %}">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->
{% endblock %}