{% extends 'customer/index.html' %}
{% load static %}
{% block body %}


<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="{% url 'wishlist' %}"><span class="fa-solid fa-heart"></span>
                <div class="tip">{{ wishlist_count }}</div>
            </a></li>
        <li><a href="{% url 'cart' %}"><span class="fa-solid fa-cart-shopping"></span>
                <div class="tip">{{ cart_count }}</div>
            </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    {% if user is not None %}
    <div class="offcanvas__auth">
        <a href="{% url 'user_dashboard' %}" style="font-weight: 600;">{{ user.username }}</a>
        <a href="{% url 'logout' %}" style="font-weight: 600;">Logout</a>
    </div>
    {% else %}
    <div class="offcanvas__auth">
        <a href="{% url 'login' %}" style="font-weight: 600;">Login</a>
        <a href="{% url 'register' %}" style="font-weight: 600;">Register</a>
    </div>
    {% endif %}
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'home' %}"><img style="width: 12rem;"
                            src="{% static 'admin\img\brand\senora.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active"><a href="{% url 'products' %}">Shop</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    {% if user.id is not None%}
                    <div class="header__right__auth">
                        <a href="{% url 'user_dashboard' %}" style="font-weight: 600;">{{ user.username }}</a>
                        <a href="{% url 'logout' %}" style="font-weight: 600;">Logout</a>
                    </div>
                    {% else %}
                    <div class="header__right__auth">
                        <a href="{% url 'login' %}" style="font-weight: 600;">Login</a>
                        <a href="{% url 'register' %}" style="font-weight: 600;">Register</a>
                    </div>
                    {% endif %}
                    <ul class="header__right__widget">
                        <li><a href="{% url 'wishlist' %}"><span class="fa-solid fa-heart"></span>
                                <div class="tip">{{ wishlist_count }}</div>
                            </a></li>
                        <li><a href="{% url 'cart' %}"><span class="fa-solid fa-cart-shopping"></span>
                                <div class="tip">{{ cart_count }}</div>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">

                    <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                    <a href="{{ single_product.category.get_url }}">{{single_product.category}}</a>
                    <a href="{{ single_product.subcategory.get_url }}">{{single_product.subcategory}}</a>
                    <span>{{single_product.product_name}}</span>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left  product__thumb nice-scroll">
                        <a class="pt" href="#img1">
                            <img src="{{single_product.thumbnail_image_1.url}}" alt="">
                        </a>
                        <a class="pt" href="#img2">
                            <img src="{{single_product.thumbnail_image_2.url}}" alt="">
                        </a>
                        <a class="pt" href="#img3">
                            <img src="{{single_product.thumbnail_image_3.url}}" alt="">
                        </a>
                        <a class="pt" href="#img4">
                            <img src="{{single_product.thumbnail_image_4.url}}" alt="">
                        </a>
                    </div>
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            <img id="img1" data-hash="product-1" class="product__big__img"
                                src="{{single_product.thumbnail_image_1.url}}" alt="">
                            <img id="img2" data-hash="product-2" class="product__big__img"
                                src="{{single_product.thumbnail_image_2.url}}" alt="">
                            <img id="img3" data-hash="product-3" class="product__big__img"
                                src="{{single_product.thumbnail_image_3.url}}" alt="">
                            <img id="img4" data-hash="product-4" class="product__big__img"
                                src="{{single_product.thumbnail_image_4.url}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form action="{% url 'add_to_cart' single_product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="product__details__text">
                        <h3>{{ single_product.product_name }}</h3>
                            <div>
                                <span>
                                <i class="fa-solid fa-star "{% if single_product.averagereview >= 1 %}style="color:#ffb503"{% endif %}></i>
                                <i class="fa-solid fa-star "{% if single_product.averagereview >= 2 %}style="color:#ffb503"{% endif %}></i>
                                <i class="fa-solid fa-star "{% if single_product.averagereview >= 3 %}style="color:#ffb503"{% endif %}></i>
                                <i class="fa-solid fa-star "{% if single_product.averagereview >= 4 %}style="color:#ffb503"{% endif %}></i>
                                <i class="fa-solid fa-star "{% if single_product.averagereview >= 5 %}style="color:#ffb503"{% endif %}></i>
                                </span>
                            <span>( {{review_count}} )</span>
                        </div>
                        <div class="product__details__price">₹ {{ single_product.price }}/-<span></span></div>
                        <div class="product__details__button">

                            {% if single_product.stock <= 0 %} 
                            <a href="" class="cart-btn"></span> Out of stock </a>
                                {% else %}
                                <button type="submit" class="cart-btn"><span class="fa-solid fa-cart-shopping"></span>
                                    Add to cart</button>
                            {% endif %}
                                <ul>
                                    {% if single_product in wishlist_items %}
                                    <li><a style="color:red;"><i class="fa-solid fa-heart"></i></a></li>
                                    {% else %}
                                    <li><a href="{% url 'add_to_wishlist' product_id=single_product.id %}"><i style="color:red;" class="fa-solid fa-heart fa-3x"></i></a></li>
                                    {% endif %} 
                                </ul>
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Available color:</span>
                                    <div class="color__checkbox">
                                        {% for variation in single_product.variation_set.colors %}
                                        <label style="background-color: black;border-radius: 50%;">
                                            <input type="radio" name="color" id="{{ variation.variation_value }}"
                                                value="{{ variation.variation_value }}" {% if forloop.first %}checked{% endif %}>
                                            <a style="color:{{variation.variation_value}};"><i class="fa fa-circle fa-2x " aria-hidden="true"></i></a>
                                        </label>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li>
                                    <span>Available size:</span>
                                    <div {% if forloop.first %}checked{% endif %} class="size__btn">
                                        {% for variation in single_product.variation_set.sizes %}
                                        <label {% if forloop.first %}class="active" {% endif %}>
                                            <input type="radio" name="size" id="xs-btn"
                                                value="{{ variation.variation_value }}" {% if forloop.first %}checked{% endif %}>
                                            {{ variation.variation_value }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </li>
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Reviews ( {{review_count}} )</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <h2>Description</h2>
                            <p>{{ single_product.description }}</p>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <br>
                            <form action="{% url 'submit_review' single_product.id %}" method="post">
                                {% csrf_token %}
                                <h4>Write your review</h4>
                                    <!-- rating stars -->
                                    <div class="rate">
                                        <input type="radio" name="rating" id="rating5" value="5" required /><label for="rating5" title="5"></label>
                                        <input type="radio" name="rating" id="rating4" value="4" required /><label for="rating4" title="4"></label>
                                        <input type="radio" name="rating" id="rating3" value="3" required /><label for="rating3" title="3"></label>
                                        <input type="radio" name="rating" id="rating2" value="2" required /><label for="rating2" title="2"></label>
                                        <input type="radio" name="rating" id="rating1" value="1" required /><label for="rating1" title="1"></label>
                                    </div>
                                <div class="d-flex flex-column">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div>
                                            <input class="form-control" type="text" Name='subject' placeholder="Title">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div>
                                            <p>Review</p>
                                            <textarea class="form-control" name='review' id="review" cols="30" rows="10"
                                                placeholder="write your review..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                    <br>
                                    <div>
                                        {% if user.is_authenticated %}
                                            {% if orderproduct %}
                                            <button style="margin-left: 21em;" type="submit" class="site-btn">Add
                                                review</button>
                                            {% else %}
                                            <h4>You must purchase this item to post a review</h4>

                                            {% endif %}
                                        {% else %}
                                        <h4>You must be logged in to post a review<span><a
                                                    href="{% url 'login' %}"></a></span></h4>
                                        
                                        {% endif %}
                                    </div>
                                </div>

                            </form>

                            <br><br><br>
                            <h4>Reviews ( {{review_count}} )</h4><hr>

                            {% for review in reviews %}
                            <h3>{{review.user.username}}</h3><br>
                            <div>
                                <span>
                                <i class="fa-solid fa-star "{% if review.rating >= 1 %}style="color:#ffb503"{% endif %}></i>
                                <i class="fa-solid fa-star "{% if review.rating >= 2 %}style="color:#ffb503"{% endif %}></i>
                                <i class="fa-solid fa-star "{% if review.rating >= 3 %}style="color:#ffb503"{% endif %}></i>
                                <i class="fa-solid fa-star "{% if review.rating >= 4 %}style="color:#ffb503"{% endif %}></i>
                                <i class="fa-solid fa-star "{% if review.rating >= 5 %}style="color:#ffb503"{% endif %}></i>
                                </span>
                            </div><br>
                            <h4>{{review.subject}}</h4><br>
                            <p>{{review.review}}</p><br>
                            <br>
                            <h6>{{review.updated_at}}</h6>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="related__title">
                    <h5>RELATED PRODUCTS</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                {% for products in productlinks %}
                {% if products.category == single_product.category %}
                {% if products != single_product %}
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{{products.thumbnail_image_1.url}}">

                        <ul class="product__hover">
                            <li><a href="{{products.thumbnail_image_1.url}}" class="image-popup"><span
                                        class="fa-solid fa-up-right-and-down-left-from-center"></span></a></li>
                            
                            {% if products in wishlist_items %}
                            <li><a href="" style="color:red;"><i class="fa-solid fa-heart"></i></a></li>
                            {% else %}
                            <li><a href="{% url 'add_to_wishlist' product_id=products.id %}"><i class="fa-solid fa-heart"></i></a></li>
                            {% endif %} 
                            
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">{{products.product_name}}</a></h6>
                        <div >
                            <span>
                                <i class="fa-solid fa-star "{% if products.averagereview >= 1 %}style="color:#ffb503"{% endif %}></i>
                                <i class="fa-solid fa-star "{% if products.averagereview >= 2 %}style="color:#ffb503"{% endif %}></i>
                                <i class="fa-solid fa-star "{% if products.averagereview >= 3 %}style="color:#ffb503"{% endif %}></i>
                                <i class="fa-solid fa-star "{% if products.averagereview >= 4 %}style="color:#ffb503"{% endif %}></i>
                                <i class="fa-solid fa-star "{% if products.averagereview >= 5 %}style="color:#ffb503"{% endif %}></i>
                                </span>
                        </div>
                        <div class="product__price">₹ {{products.price}}/-</div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
</section>
<!-- Product Details Section End -->


<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->
{% endblock %}