{% extends 'customer/index.html' %}
{% load static %}
{% block body %}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li><a href="{% url 'wishlist' %}"><span class="fa-solid fa-heart"></span>
            <div class="tip">{{ wishlist_count }}</div>
            </a></li>
        <li><a href="{% url 'cart' %}"><span class="fa-solid fa-cart-shopping"></span>
                <div class="tip">{{ cart_count }}</div>
            </a></li>
    </ul>
    <div class="offcanvas__logo">
        <a href="{% url 'home' %}"><img style="width: 12rem;" src="{% static 'admin\img\brand\senora.png' %}" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    {% if user is not None %}
    <div class="offcanvas__auth">
        <a href="{% url 'user_dashboard' %}" style="font-weight: 600;">{{ user.username }}</a>
        <a href="{% url 'logout' %}" style="font-weight: 600;">Logout</a>
    </div>
    {% else %}
    <div class="offcanvas__auth">
        <a href="{% url 'login' %}" style="font-weight: 600;">Login</a>
        <a href="{% url 'register' %}" style="font-weight: 600;">Register</a>
    </div>
    {% endif %}
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'home' %}"><img style="width: 12rem;" src="{% static 'admin\img\brand\senora.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'products' %}">Shop</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    {% if user.id is not None%}
                    <div class="header__right__auth">
                        <a href="{% url 'user_dashboard' %}" style="font-weight: 600;">{{ user.username }}</a>
                        <a href="{% url 'logout' %}" style="font-weight: 600;">Logout</a>
                    </div>
                    {% else %}
                    <div class="header__right__auth">
                        <a href="{% url 'login' %}" style="font-weight: 600;">Login</a>
                        <a href="{% url 'register' %}" style="font-weight: 600;">Register</a>
                    </div>
                    {% endif %}
                    <ul class="header__right__widget">
                        <li><a href="{% url 'wishlist' %}"><span class="fa-solid fa-heart"></span>
                            <div class="tip">{{ wishlist_count }}</div>
                            </a></li>
                        <li><a href="{% url 'cart' %}"><span class="fa-solid fa-cart-shopping"></span>
                                <div class="tip">{{ cart_count }}</div>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
{% include 'includes/alerts.html' %}
<!-- Checkout Section Begin -->
<section class="checkout spad container">
    <div class="col-lg-5">
        <div class="checkout__order">
            <h5>Your order</h5>
            <div class="checkout__order__product">
                <table>
                    <thead>
                        <tr>
                            <td style="padding-right:20px;">
                                <h4><span>Product</span></h4>
                            </td>
                            <td style="padding-right:20px;">
                                <h4><span>Quantity</span></h4>
                            </td>
                            <td style="padding:20px;">
                                <h4><span>Total</span></h4>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td style="padding-right:20px;"><span>
                                <strong><h6>{{cart_item.product.product_name}}</h6></strong>
                                </span></td>
                            <td style="padding:20px;"><span>
                                <strong><h4>{{cart_item.quantity}}</h4></strong>
                                </span></td>
                            <td style="padding:20px;"><span>
                                    <strong><h4>₹{{cart_item.total}}</h4></strong>
                                </span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="checkout__order__total">
                <ul>
                    <li>Subtotal <span>₹{{total}}/-</span></li>
                    <li>Total <span>₹{{grandtotal}}/-</span></li>
                </ul>
            </div>
            <form action="{% url 'place_order' %}" method="POST">
            {% csrf_token %}
                <div class="checkout__order__widget">
                    <h4 style="font-weight: 300;">Delivery addresses</h4>
                    <hr>
                    {% for address in address %}
                    <div style="display: flex">
                        <input style="display: inline" type="radio" id="address" name="address" value="{{address.id}}">
                        <label style="display: inline">
                            {{address.firstname}},
                            {{address.lastname}},
                            {{address.addressfield_1}},
                            {{address.addressfield_2}},
                            {{address.city}},
                            {{address.state}},
                            {{address.country}},
                            {{address.post_code}},
                            {{address.phonenumber}},
                        </label>
                        
                    </div>
                    {% endfor %}
                    <div class="checkout__order__widget">
                        <h4 style="font-weight: 300;">Add a note</h4>
                        <input type="text" name='ordernote' placeholder="Do you want to add a note?"
                            class="form-control">
                    </div>
                </div>
                <button type="submit" class="site-btn" >Place order</button>
        
            </form>
        </div>
        <br><br><br>
    </div>

     <!-- address section  -->
    <form action="{% url 'save_address' %}" method='POST' class="checkout__form">
        {% csrf_token %}
        <div class="row">
            <div>
                <h5>SAVE ADDRESS</h5>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="checkout__form__input">
                            <p>First Name <span>*</span></p>
                            <input type="text" Name='firstname'>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="checkout__form__input">
                            <p>Last Name</p>
                            <input type="text" name='lastname'>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="checkout__form__input">
                            <p>Address <span>*</span></p>
                            <input type="text" placeholder="Street Address" name='addressfield_1'>
                            <input type="text" placeholder="Apartment. suite, unit" name='addressfield_2'>
                        </div>
                        <div class="checkout__form__input">
                            <p>City<span>*</span></p>
                            <input type="text" name='city'>
                        </div>
                        <div class="checkout__form__input">
                            <p>State <span>*</span></p>
                            <input type="text" name='state'>
                        </div>
                        <div class="checkout__form__input">
                            <p>Country <span>*</span></p>
                            <input type="text" name='country'>
                        </div>
                        <div class="checkout__form__input">
                            <p>Postcode/Zip <span>*</span></p>
                            <input type="number" name='post_code'>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="checkout__form__input">
                            <p>Phone <span>*</span></p>
                            <input type="number" name='phonenumber'>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="checkout__form__input">
                            <p>Email <span>*</span></p>
                            <input type="Email" name='email'>
                        </div>
                    </div>
                </div>
                <button style="margin-left: 21em;" type="submit" class="site-btn">Save address</button>
            </div>
        </div>
    </form>
</section>
<!-- Checkout Section End -->


<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->
{% endblock %}