{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        senora-admin
    </title>
    <!-- Favicon -->
    <link href="{% static 'admin/img/brand/favicon.png' %}" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static 'admin/js/plugins/nucleo/css/nucleo.css' %}" rel="stylesheet" />
    <link href="{% static 'admin/js/plugins/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="{% static 'admin/css/argon-dashboard.css' %}" rel="stylesheet" />
</head>

<body class="bg-default " style="width:100%;">
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
                aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand pt-0" href="./index.html">
                <img style="width: 5rem;height:4rem" src="{% static 'admin\img\brand\senora.png' %}" alt="">
            </a>
            
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="./index.html">
                                <img src="{% static 'admin/img/brand/blue.png' %}">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false"
                                aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Form -->
                <form class="mt-4 mb-3 d-md-none">
                    <div class="input-group input-group-rounded input-group-merge">
                        <input type="search" class="form-control form-control-rounded form-control-prepended"
                            placeholder="Search" aria-label="Search">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-search"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item  active ">
                        <a class="nav-link  active " href="{% url 'dashboard' %}">
                            <i class="ni ni-tv-2 text-primary"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'usermanagement' %}">
                            <i class="ni ni-single-02 text-yellow"></i> User managemet
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'filtermanagement' %}">
                            <i class=" ni ni-box-1 text-orange"></i> Filter management
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'addfilters' %}">
                            <i class=" ni ni-box-1 text-orange"></i> Add filters
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'productmanagement' %}">
                            <i class="ni ni-shop text-blue"></i>Product management
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'addproduct' %}">
                            <i class=" ni ni-box-2 text-orange"></i> Add product
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'variationmanagement' %}">
                          <i class="ni ni-scale text-blue"></i>Variation management
                        </a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'addvariation' %}">
                            <i class=" ni ni-ungroup text-teal"></i> Add variation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ordermanagement' %}">
                            <i class="ni ni-delivery-fast text-green"></i> Order management
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'adminregister' %}">
                            <i class="ni ni-circle-08 text-pink"></i> Create new Admin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'adminlogout' %}">
                            <i class="ni ni-button-power"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="main-content">
        <div class="container mt-4 pb-5">
            <!-- Table -->
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            
                            <div class=" text-muted mb-4">
                                <strong>Add product</strong>
                            </div>
                            
                            <form role="form" action="" method="POST" id="filterationForm" data-subcategories-url="{% url 'ajax_load_subcategories' %}" novalidate>
                                {% csrf_token %}
                                {% for form in form %}
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text text-dark">{{ form.label }}</span>
                                        </div>
                                        {{form}}
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="text-center">
                                    <button onclick="return confirm('Are you sure you want to save changes ?')" type="submit" class="btn btn-primary mt-4">Save changes</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <!--   Core   -->
        <script src="{% static 'admin/js/plugins/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'admin/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <!--   Optional JS   -->
        <script src="{% static 'admin/js/plugins/chart.js/dist/Chart.min.js' %}"></script>
        <script src="{% static 'admin/js/plugins/chart.js/dist/Chart.extension.js' %}"></script>
        <!--   Argon JS   -->
        <script src="{% static 'admin/js/argon-dashboard.min.js' %}"></script>
        <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
        <script>
            window.TrackJS &&
                TrackJS.install({
                    token: "ee6fab19c5a04ac1a32a645abde4613a",
                    application: "argon-dashboard-free"
                });
        </script>
        <script>
            $("#id_category").change(function () {
              var url = $("#filterationForm").attr("data-subcategories-url");  // get the url of the `load_cities` view
              var categoryId = $(this).val();  // get the selected country ID from the HTML input
        
                $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'category': categoryId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_subcategory").html(data);  // replace the contents of the city input with the data that came from the server
                }
                });
        
            });
          </script>
</body>

</html>
