{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    senora-admin
  </title>
  <!-- Favicon -->
  <link href="../assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{% static 'admin/js/plugins/nucleo/css/nucleo.css' %}" rel="stylesheet" />
  <link href="{% static 'admin/js/plugins/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static 'admin/css/argon-dashboard.css' %}" rel="stylesheet" />
</head>

<body class="bg-default">
  <div class="main-content">
    {% include 'includes/alerts.html' %}
    <!-- Page content -->
    <div class="container mt-8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <img style="width: 5rem;height:4rem" src="{% static 'admin\img\brand\senora.png' %}" alt="">
                admin login
              </div>
              <form role="form" method="post" action="{% url 'adminlogin' %}">
                {% csrf_token %}
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" name="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" name="password">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Sign in</button>
                </div>
              </form>
              
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              {% comment %} <a href="#" class="text-light"><small>Forgot password?</small></a> {% endcomment %}
            </div>
            <div class="col-6 text-right">
              <a href="{% url 'login' %}" class="text-light"><small>Customer login</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core   -->
  <script src="{% static 'admin/js/plugins/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'admin/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <!--   Optional JS   -->
  <!--   Argon JS   -->
  <script src="{% static 'admin/js/argon-dashboard.min.js' %}"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
      });
  </script>
</body>

</html>