{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        senora-admin
    </title>
    <!-- Favicon -->
    <link href="{% static 'admin/img/brand/favicon.png' %}" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static 'admin/js/plugins/nucleo/css/nucleo.css' %}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="{% static 'admin/css/argon-dashboard.css' %}" rel="stylesheet" />
</head>

<body class="bg-default " style="width:100%;">
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
                aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand pt-0" href="./index.html">
                <img style="width: 5rem;height:4rem" src="{% static 'admin\img\brand\senora.png' %}" alt="">
            </a>
            
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="./index.html">
                                <img src="{% static 'admin/img/brand/blue.png' %}">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false"
                                aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Form -->
                <form class="mt-4 mb-3 d-md-none">
                    <div class="input-group input-group-rounded input-group-merge">
                        <input type="search" class="form-control form-control-rounded form-control-prepended"
                            placeholder="Search" aria-label="Search">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-search"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item  active ">
                      <a class="nav-link  active " href="{% url 'dashboard' %}">
                        <i class="fa-solid fa-tv text-primary"></i> Dashboard
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'usermanagement' %}">
                        <i class="fa-solid fa-users text-yellow" ></i> User managemet
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="{% url 'filtermanagement' %}">
                          <i class="fa-solid fa-layer-group text-orange"></i> Filter management
                      </a>
                  </li>
                    <li class="nav-item">
                      <a class="nav-link " href="{% url 'addfilters' %}">
                          <i class="fa-solid fa-layer-group text-orange"></i><i class="fa-solid fa-plus text-orange"></i> Add filters
                      </a>
                  </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'productmanagement' %}">
                        <i class="fa-solid fa-shirt text-blue"></i>Product management
                      </a>
                    </li>
                  
                    <li class="nav-item">
                      <a class="nav-link " href="{% url 'addproduct' %}">
                        <i class=" fa-solid fa-shirt text-blue"></i><i class="fa-solid fa-plus text-blue"></i> Add product
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'variationmanagement' %}">
                        <i class="fa-solid fa-ruler text-black"></i>Variation management
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="{% url 'addvariation' %}">
                          <i class=" fa-solid fa-ruler text-black"></i><i class="fa-solid fa-plus text-black"></i> Add variation
                      </a>
                  </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'ordermanagement' %}">
                        <i class="fa-solid fa-truck text-green"></i> Order management
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'adminregister' %}">
                        <i class="fa-solid fa-user-check text-pink"></i> Create new Admin
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'adminlogout' %}">
                        <i class="fa-solid fa-power-off"></i> Logout
                      </a>
                    </li>
                  </ul>
            </div>
        </div>
    </nav>
    
    <div class="main-content">
      {% include 'includes/alerts.html' %}
        <div class="mt-5 ">
        <form method="GET" class="form-inline justify-content-end md-form form-sm active-pink active-pink-2  mr-3">
            <input class="form-control form-control  ml-3" type="text" placeholder="Search" name="q"
              aria-label="Search">
              <button class="fas fa-search btn btn-primary " aria-hidden="true" type="submit"></button>
          </form>
        </div>
        <!-- Projects table -->
        <!-- Dark table -->
      <div class="row mt-5 m-0">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">product tables</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Product</th>
                        <th scope="col">Variation Category</th>
                        <th scope="col">Variation value</th>
                        <th scope="col"></th>
                    </tr>
                  </tr>
                </thead>
                <tbody>
                    {% for variation in variations %}
                    <tr>
                        <th>{{variation.id}}</th>
                        <th>{{variation.product.product_name}}</th>
                        <td>{{variation.variation_category}}</td>
                        <td>{{variation.variation_value}}</td>
                        <td><a  onclick="return confirm('Are you sure you want to delete this variation ?')" href="{% url 'deletevariation' variation.id %}"><button class="btn btn-danger">Delete</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
        <!--   Core   -->
        <script src="{% static 'admin/js/plugins/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'admin/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <!--   Optional JS   -->
        <script src="{% static 'admin/js/plugins/chart.js/dist/Chart.min.js' %}"></script>
        <script src="{% static 'admin/js/plugins/chart.js/dist/Chart.extension.js' %}"></script>
        <!--   Argon JS   -->
        <script src="{% static 'admin/js/argon-dashboard.min.js' %}"></script>
        <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
        <script>
            window.TrackJS &&
                TrackJS.install({
                    token: "ee6fab19c5a04ac1a32a645abde4613a",
                    application: "argon-dashboard-free"
                });
        </script>
</body>

</html>